<main class="main-admin container">
  <section>
    <form action="" class="form-buscar-producto">
      <figure class=""><img
          src="/assets/icons/search_icon.svg"
          alt="Ícono de búsqueda"
        /></figure>
      <input
        type="text"
        name=""
        id=""
        class="input input-buscar-producto"
        placeholder="Código, nombre o categoria"
      />
    </form>
  </section>
  <section>
    <div class="cont-titulo">
      <h2 class="titulo-seccion">LISTADO DE PRODUCTOS</h2>
      <div class="cont-agregar-producto">
        <p class="agregar">AGREGAR</p>
        <a class="btn-agregar" href="/admin/create"></a>
      </div>
    </div>
    <div>
      <ul class="cont-titulos-grid">
        <li>
          <h3>ID</h3>
        </li>
        <li>
          <h3>Código</h3>
        </li>
        <li>
          <h3>Nombre del Producto</h3>
        </li>
        <li>
          <h3>Categoria</h3>
        </li>
      </ul>
      {{#each data}}
        <article>
          <ul class="cont-articulo">
            <li>{{product_id}}</li>
            <li>{{sku}}</li>
            <li>{{product_name}}</li>
            <li>{{licence_name}}</li>
            <li class="cont-btns">
              <a href="/admin/edit/{{product_id}}" class="btn-editar"></a>
              <a href="/admin/delete/{{product_id}}" class="btn-eliminar"></a>
            </li>
          </ul>
        </article>
      {{/each}}
    </div>

  </section>
</main>