{{> header}}
<main>
  <section class="container section-item">
    <article class="card-product">
      <picture class="card-product__cover-img">
        <img
          src="{{data.image_front}}"
          alt="Baby Yoda"
          class="card-item__img--front"
        />
        <img
          src="{{data.image_back}}"
          alt="Baby Yoda"
          class="card-item__img--back"
        />
      </picture>
      <div class="card-product__details">
        <p class="card-product__licence">{{data.licence_name}}</p>
        <h3 class="card-product__name">{{data.product_name}}
        </h3>
        <p class="card-product__description">{{data.product_description}}</p>
        <p class="card-product__price">$ {{data.price}}</p>
        <div class="contenedor-agregar-item">
          <div class="cont-cantidad">
            <input
              type="text"
              name="quantity"
              id="quantity"
              class="span-cantidad-item"
              value="0"
            />
            <div class="cont-botones-cantidad">
              <button id="add" class="button-sumar-item">+</button>
              <button id="subtract" class="button-restar-item">-</button>
            </div>
          </div>
          <button class="button-agregar-item">Agregar al carrito</button>
        </div>
        <a class="link-pagos-item">
          <u>Ver métodos de pago</u>
          - {{data.dues}} CUOTAS SIN INTERÉS</a>
      </div>
    </article>
  </section>
  <section class="slider container glide">
    <h2 class="slider__title titulo-seccion">PRODUCTOS RELACIONADOS</h2>
    <div class="glide__track" data-glide-el="track">
      <ul class="slider__items glide__slides">
        {{#each relatedProducts}}
        <li class="slider__item glide__slide">
          <article class="card-producto">
            <a href="/shop/item/{{product_id}}">
              <picture class="cont-img-card-producto">
                <span class="card-producto__tag">Nuevo</span>
                <img
                  src="{{image_front}}"
                  alt="{{product_name}}"
                  class="img-card-producto card-item__img--front"
                />
                <img
                  src="{{image_back}}"
                  alt="{{product_name}}"
                  class="img-card-producto card-item__img--back"
                />
              </picture>
              <p class="subtitulo-card-producto">{{licence_name}}</p>
              <h4 class="titulo-card-producto">{{product_name}}</h4>
              <p class="precio-card-producto">{{price}}</p>
              <p class="cuotas-card-producto">{{dues}} CUOTAS SIN INTERÉS</p>

            </a>
          </article>
        </li>
        {{/each}}
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
        <iconify-icon icon="ic:baseline-chevron-left"></iconify-icon>
      </button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
        <iconify-icon
          icon="ic:baseline-chevron-left"
          rotate="180deg"
        ></iconify-icon>
      </button>
    </div>
  </section>
</main>
{{> footer}}

<script
  src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"
></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="/js/glide.js"></script>
<script src="/js/item.js"></script>