<div class="container body-shop">
  <aside class="aside-shop">
    <form action="" class="form-filtros-shop">
      <label for="buscar" class="filtros-shop-titulo">BUSCAR</label>
      <input
        type="text"
        name="buscar"
        id=""
        class="input-filtros-shop"
        placeholder="Item o categoria"
      />
      <label for="ordenar" class="input filtros-shop-titulo">ORDENAR POR</label>
      <select name="ordenar" id="" class="input-filtros-shop">
        <option value="mayorAMenor">Mayor a menor</option>
        <option value="">opcion 2</option>
        <option value="">opcion 3</option>
      </select>
      <h2 class="filtros-shop-titulo">PRECIO</h2>
      <div>
        <label for="precioMinimo" class="label-precio-filtros-shop">MIN</label>
        <input
          type="number"
          name="precioMinimo"
          id=""
          class="input-precio-filtros-shop"
          placeholder="0"
        />
        -
        <label for="precioMaximo" class="label-precio-filtros-shop">MAX</label>
        <input
          type="number"
          name="precioMaximo"
          id=""
          class="input-precio-filtros-shop"
          placeholder="0"
        />
      </div>

      <h2 class="filtros-shop-titulo">FILTRAR</h2>
      <div class="cont-checkbox-filtros-shop">
        <input
          type="checkbox"
          name="nuevos"
          class="checkbox-filtros-shop"
          id=""
        />
        <label for="nuevos" class="label-checkbox-filtros-shop">NUEVOS</label>
      </div>
      <div class="cont-checkbox-filtros-shop">
        <input
          type="checkbox"
          name="ofertas"
          class="checkbox-filtros-shop"
          id=""
        />
        <label for="ofertas" class="label-checkbox-filtros-shop">OFERTAS</label>
      </div>
      <div class="cont-checkbox-filtros-shop">
        <input
          type="checkbox"
          name="edicionEspecial"
          class="checkbox-filtros-shop"
          id=""
        />
        <label for="edicionEspecial" class="label-checkbox-filtros-shop">EDICIÓN
          ESPECIAL</label>
      </div>
      <div class="cont-checkbox-filtros-shop">
        <input
          type="checkbox"
          name="favoritos"
          class="checkbox-filtros-shop"
          id=""
        />
        <label
          for="favoritos"
          class="label-checkbox-filtros-shop"
        >FAVORITOS</label>
      </div>
    </form>
  </aside>
  <main class="main-shop">
    <section class="productos-shop">
      <ul class="lista-productos-shop">
        {{#each data}}
          <li>
            <article class="card-producto">
              <a href="/shop/item/{{product_id}}">
                <picture class="cont-img-card-producto">
                  <span class="card-producto__tag">Nuevo</span>
                  <img
                    src="{{image_front}}"
                    alt="{{product_name}}"
                    class="img-card-producto"
                  />
                </picture>
                <p class="subtitulo-card-producto">{{licence_name}}</p>
                <h4 class="titulo-card-producto">{{product_name}}</h4>
                <p class="precio-card-producto">$ {{price}}</p>
                <p class="cuotas-card-producto">3 CUOTAS SIN INTERÉS</p>

              </a>
            </article>
          </li>
        {{/each}}

      </ul>
      <div class="paginado">
        <ul class="lista-paginado">
          <li class="lista-pag-item"><a
              href=""
              class="link-lista-paginado link-prev"
            >
              <iconify-icon icon="ooui:next-rtl"></iconify-icon></a>
          </li>
          <li class=""><a href="" class="link-lista-paginado">1</a></li>
          <li class=""><a href="" class="link-lista-paginado">2</a></li>
          <li class=""><a href="" class="link-lista-paginado">...</a></li>
          <li class=""><a href="" class="link-lista-paginado">9</a></li>
          <li class=""><a href="" class="link-lista-paginado">10</a></li>
          <li class=""><a href="" class="link-lista-paginado link-next">
              <iconify-icon icon="ooui:next-ltr"></iconify-icon>
            </a></li>
        </ul>
      </div>
    </section>
  </main>
</div>
<script
  src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"
></script>