{{> header}}
<main class="main-home">
  <section class="banner">
    <article class="cont-nuevos-ingresos">

      <h3 class="titulo-nuevos-ingresos">Nuevos Ingresos</h3>
      <p>Descubrí el próximo Funko Pop de tu colección</p>
      <button
        class="link-shop"
        onclick="window.location.href='/shop'"
      >SHOP</button>
    </article>
  </section>
  <section class="container seccion-colecciones">
{{#each data}}
    <article class="articulo-seccion-colecciones">
      <div class="articulo-detalle">
        <h3 class="articulo-detalle-titulo">{{licence_name}}
        </h3>
        <p class="articulo-detalle-descripcion">{{licence_description}}</p>
        <button class="btn-ver-coleccion">VER COLECCIÓN</button>

      </div>
      <picture class="cont-img-articulo"><img
          src="{{licence_image}}"
          alt="Baby Yoda"
          class="img-articulo"
        />
      </picture>
    </article>
 {{/each}}

  </section>

  <section class="slider container glide">
    <h2 class="slider__title titulo-seccion">últimos lazamientos</h2>
    <div class="glide__track" data-glide-el="track">
      <ul class="slider__items glide__slides">
        {{#each news}}
        <li class="slider__item glide__slide">
          <article class="card-producto">
            <a href="/shop/item/{{product_id}}">
              <picture class="cont-img-card-producto">
                <span class="card-producto__tag">Nuevo</span>
                <img
                  src="{{image_front}}"
                  alt="{{product_name}}"
                  class="img-card-producto card-item__img--front"
                />
                <img
                  src="{{image_back}}"
                  alt="{{product_name}}"
                  class="img-card-producto card-item__img--back"
                />
              </picture>
              <p class="subtitulo-card-producto">{{licence_name}}</p>
              <h4 class="titulo-card-producto">{{product_name}}</h4>
              <p class="precio-card-producto">{{price}}</p>
              <p class="cuotas-card-producto">{{dues}} CUOTAS SIN INTERÉS</p>

            </a>
          </article>
        </li>
         {{/each}}
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
        <iconify-icon icon="ic:baseline-chevron-left"></iconify-icon>
      </button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
        <iconify-icon
          icon="ic:baseline-chevron-left"
          rotate="180deg"
        ></iconify-icon>
      </button>
    </div>
  </section>
</main>
{{> footer}}
<script
  src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"
></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="/js/glide.js"></script>